.playingCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

  .playingCard > .cardTitle {
    justify-content: center;
  }

.cardContent {
    display:flex;
    flex-direction: column;
}

  .cardContent > .cardPower {    
    font-weight: bold;
    font-size: large;
  }
