<h1> Card Game </h1>

<h1 class="mat-display-1" style="text-align:center"> Card Game </h1>

<div class="chooseCardContainer" *ngIf="cardGameService.cardTypes && cardGameService.cardTypes.length > 0 && !isPlaying">
  <mat-form-field appearance="fill">
    <mat-label>Choose Card Type:</mat-label>
    <mat-select [(value)]="selectedStartCardType" (selectionChange)="startCardTypeChange()">
      <mat-option *ngFor="let cardType of cardGameService.cardTypes" [value]="cardType">
        {{cardType.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button class="mat-raised-button" color="accent" (click)="startGameClicked()"> Start Game </button>
</div>

<!--TODO: Change to foreach-->
<div id="gameConent" *ngIf="isPlaying">
  <div class="gameBox">
    <div class="gameBoxContainer" *ngIf="firstPlayedCard || secondPlayedCard">
      <div class="gameBoxColumn leftGameBoxColumn">
        <!--TODO: Add empty card with name "placeholder for a card"-->
        <div *ngIf="firstPlayedCard">
          <app-playingCard [inputPlayingCard]="firstPlayedCard"></app-playingCard>
        </div>
      </div>
      <div class="gameBoxColumn rightGameBoxColumn">
        <!--TODO: Add empty card with name "placeholder for a card"-->
        <div *ngIf="secondPlayedCard">
          <app-playingCard [inputPlayingCard]="secondPlayedCard"></app-playingCard>
        </div>
      </div>
    </div>
  </div>

  <div class="handCardsContainer" *ngIf="!presentingRoundResult">
    <div [className]="isPlayer1Move ? 'handCards active' : 'handCards notActive' ">
      <spna>Player1</spna>
      <app-handCards (messageEvent)="receiveCardClickedMessage($event)" [inputPlayingCards]="player1Cards"></app-handCards>
    </div>
    <div [className]="!isPlayer1Move ? 'handCards active' : 'handCards notActive' ">
      <span>Player2</span>
      <app-handCards (messageEvent)="receiveCardClickedMessage($event)" [inputPlayingCards]="player2Cards"></app-handCards>
    </div>
  </div>
</div>
