<h1 class="mat-display-1" style="text-align:center"> Card Game </h1>

<div class="chooseCardContainer" *ngIf="cardGameService.cardTypes && cardGameService.cardTypes.length > 0 && !isPlaying">
  <mat-form-field appearance="fill">
    <mat-label>Choose Card Type:</mat-label>
    <mat-select [(value)]="selectedStartCardType" (selectionChange)="startCardTypeChange()">
      <mat-option *ngFor="let cardType of cardGameService.cardTypes" [value]="cardType">
        {{cardType.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button class="mat-raised-button" color="accent" (click)="startGameClicked()"> Start Game </button>
</div>

<div id="gameConent" *ngIf="isPlaying">
  <div class="gameBox">
    <div class="gameBoxContainer" *ngIf="player1PlayedCard || player2PlayedCard">
      <div class="gameBoxColumn leftGameBoxColumn">
        <div *ngIf="playingCard">
          <app-playingCard [inputPlayingCard]="player1PlayedCard"></app-playingCard>
        </div>
      </div>
      <div class="gameBoxColumn rightGameBoxColumn">
        <div *ngIf="playingCard2">
          <app-playingCard [inputPlayingCard]="player2PlayedCard"></app-playingCard>
        </div>
      </div>
    </div>
  </div>

  <div class="handCardsContainer">
    <div class="handCards active">
      <app-handCards (messageEvent)="receiveMessage($event)" [inputPlayingCards]="player1Cards"></app-handCards>
    </div>
    <div class="handCards notActive">
      <app-handCards [inputPlayingCards]="player2Cards"></app-handCards>
    </div>
  </div>
</div>
